//--------------------------- Tiki CSS variables

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: linear-gradient(#646464, #333 50%, #2f2f2f);
    --tiki-top-color: rgba(255, 255, 255, 0.75);
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --tiki-top-border: solid rgb(85, 85, 85);
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: linear-gradient(#6d94bf, #446e9b 50%, #3e648d) !important; //linear-gradient(#646464, #333 50%, #2f2f2f);
    --tiki-topbar-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
    --tiki-topbar-border: solid rgb(85, 85, 85)
}

.tiki-top-nav-light {
    --tiki-top-bg: linear-gradient(#f2f2f2, #eee 50%, #dbdbdb);
    --tiki-top-color: rgba(0, 0, 0, 0.7);
    --tiki-top-hover-color: #3399f3;
    --tiki-top-text-color: #3399f3;
    --tiki-top-border: solid #bebebe;
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: linear-gradient(#f2f2f2, #eee 50%, #dbdbdb);
    --tiki-topbar-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-hover-color: #3399f3;
    --tiki-topbar-text-color: #3399f3;
    --tiki-topbar-border: solid #bebebe;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 1px;
    --tiki-topbar-border-width: 1px;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
//    .tiki-topbar-nav-light {
//        @include topbar-nav-dark;
//    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
//    --tiki-admin-navbar-bg: ; //
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.4);
    --tiki-admin-top-nav-hover-color: #3399f3;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: linear-gradient(#f2f2f2, #eee 50%, #dbdbdb);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: linear-gradient(#f2f2f2, #eee 50%, #dbdbdb);
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: rgba(255, 255, 255, 0.75);
    --tiki-admin-top-nav-link-hover-bg: #fff;
    --tiki-admin-aside-nav-bg: linear-gradient(#646464, #333 50%, #2f2f2f);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #fff;
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item {
        border-width: 0 !important;
    }
    button.was-nav-link.accordion-button,
    .accordion-item {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: transparent !important; // var(--tiki-admin-aside-nav-bg) !important;
    }
    .accordion-button::after {
        background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2366bad6'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: linear-gradient(#646464, #333 50%, #2f2f2f);
}
