//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: #{$light};
    --tiki-top-color: #{$blue};
    --tiki-top-hover-color: #{lighten($blue, 10%)};
    --tiki-top-text-color:  #{lighten($blue, 10%)};
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #{$light};
    --tiki-topbar-color: #{$blue};
    --tiki-topbar-hover-color: #{lighten($blue, 10%)};
    --tiki-topbar-text-color: #{lighten($blue, 10%)};
}

.tiki-top-nav-dark {
    --tiki-top-bg: #060606;
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: #{$white};
    --tiki-top-text-color: #{$white};
    --tiki-top-border: 1px solid #282828;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #060606;
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: #{$white};
    --tiki-topbar-text-color: #{$white};
    --tiki-topbar-border: 1px solid #282828;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-navbar-bg:  #{$light};
    --tiki-admin-top-nav-color: #{$blue};
    --tiki-admin-top-nav-hover-color: #{lighten($blue, 10%)};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #{$light};
    --tiki-admin-aside-nav-color: #{$blue};
    --tiki-admin-aside-nav-hover-color: #{lighten($blue, 10%)};
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color:  #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    .accordion-item {
        border-color: transparent !important;
    }
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg:  #{$light};
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.85);
    --tiki-admin-top-nav-hover-color: #{$white};
    --tiki-admin-top-nav-hover-bg: none;
    --tiki-admin-aside-nav-bg: #060606;
    --tiki-admin-aside-nav-color: rgba(255, 255, 255, 0.85);
    --tiki-admin-aside-nav-hover-color: #{$white};
    --tiki-admin-dropdown-link-color:  #{$dropdown-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    .accordion-item {
        border-color: transparent !important;
    }
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: #060606;
}

// - - - - - Other CSS variables - - - - - - - //
:root,
[data-bs-theme="dark"]{
    --tiki-code-bg: #222;
}